* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.title {
    margin-bottom: 20px;
}

.clock-container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clock {
    font-size: 4rem;
    margin-bottom: 20px;
}

.costomization {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

label {
    font-size: 1rem;
    margin-right: 10px;
}
select,
input {
    padding: 5px;
    font-size: 1rem;
}
